---
import Layout from '../layouts/Layout.astro';

import Navigation from '../components/Navigation.astro';
import InnerNavigation from '../components/InnerNavigation.astro';
import WikiLink from '../components/WikiLink.astro';
import NumsFacts from '../components/NumsFacts.astro';
---

<Layout>
	<Navigation />
</Layout>

<h1>Jupiter</h1>

<InnerNavigation />

<!-- Overview Content Start -->
<p>Jupiter is the fifth planet from the Sun and the largest in the Solar System. 
It is a gas giant with a mass two and a half times that of all the other 
planets in the Solar System combined, but less than one-thousandth the mass 
of the Sun.</p>

<WikiLink link="Jupiter"/>
<!-- Overview Content End -->

<!-- Internal Structure Content Start -->
<p>When the Juno arrived in 2016, it found that Jupiter has a very diffuse core 
that mixes into its mantle. A possible cause is an impact from a planet of 
about ten Earth masses a few million years after Jupiter's formation, which 
would have disrupted an originally solid Jovian core.</p>

<WikiLink link="Jupiter#Internal_structure"/>
<!-- Internal Structure Content End -->

<!-- Surface Geology Content Start -->
<p>The best known feature of Jupiter is the Great Red Spot, a persistent 
anticyclonic storm located 22° south of the equator. It is known to have 
existed since at least 1831, and possibly since 1665.</p>

<WikiLink link="Jupiter#Great_Red_Spot_and_other_vortices"/>
<!-- Surface Geology Content End -->

<NumsFacts rotation_time="9.93 Hours" revolution_time="11.86 Years" radius="69,911 KM" average_temp="-108°c"/>
