---
import Layout from '../layouts/Layout.astro';

import Navigation from '../components/Navigation.astro';
import InnerNavigation from '../components/InnerNavigation.astro';
import WikiLink from '../components/WikiLink.astro';
import NumsFacts from '../components/NumsFacts.astro';
---

<Layout>
	<Navigation />
</Layout>

<h1>Uranus</h1>

<InnerNavigation />

<!-- Overview Content Start -->
<p>Uranus is the seventh planet from the Sun. Its name is a reference to the 
Greek god of the sky, Uranus according to Greek mythology, was the great-grandfather 
of Ares. It has the third-largest planetary radius and fourth-largest planetary 
mass in the Solar System.</p>

<WikiLink link="Uranus"/>
<!-- Overview Content End -->

<!-- Internal Structure Content Start -->
<p>The standard model of Uranus's structure is that it consists of three layers: a 
rocky (silicate/iron–nickel) core in the centre, an icy mantle in the middle and 
an outer gaseous hydrogen/helium envelope. The core is relatively small, with a 
mass of only 0.55 Earth masses.</p>

<WikiLink link="Uranus#Internal_structure"/>
<!-- Internal Structure Content End -->

<!-- Surface Geology Content Start -->
<p>The composition of Uranus's atmosphere is different from its bulk, consisting mainly 
of molecular hydrogen and helium. The helium molar fraction, i.e. the number of 
helium atoms per molecule of gas, is 0.15±0.03 in the upper troposphere.</p>

<WikiLink link="Uranus#Atmosphere"/>
<!-- Surface Geology Content End -->

<NumsFacts rotation_time="17.2 Hours" revolution_time="84 Years" radius="25,362 KM" average_temp="-195°c"/>
