---
---
<nav>
  <ul id="links">
    <li><a href="/planets-fact-site/">Start</a></li>
    <li><a href="/planets-fact-site/mercury">Mercury</a></li>
    <li><a href="/planets-fact-site/venus">Venus</a></li>
    <li><a href="/planets-fact-site/earth">Earth</a></li>
    <li><a href="/planets-fact-site/mars">Mars</a></li>
    <li><a href="/planets-fact-site/jupiter">Jupiter</a></li>
    <li><a href="/planets-fact-site/saturn">Saturn</a></li>
    <li><a href="/planets-fact-site/uranus">Uranus</a></li>
    <li><a href="/planets-fact-site/neptune">Neptune</a></li>
  </ul>
</nav>

<style>
  #links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

</style>
